html,
body {
	height: 100vh;
	width: 100vw;
}

#root,
.app {
	height: 100vh;
	width: 100%;
	text-align: center;
}

.parent {
	margin: 15% auto 0;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	padding: 50px;
	border-radius: 10px;
}

.inputs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

input:last-of-type {
	margin-left: 10px;
}

.children {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid black;
	padding: 50px;
	border-radius: 10px;
}

.child {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	margin: 20px;
	border-radius: 10px;
}

button {
	margin: 10px;
	padding: 10px 15px;
	border: none;
	background-color: white;
	border-radius: 4px;
}
